{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "plugins": [
    "jsdoc"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true,
        "avoidEscape": true
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "operator-linebreak": [
      "error",
      "after"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "object-curly-newline": [
      "error",
      {
        "multiline": true,
        "consistent": true
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-continue": "off",
    "no-shadow": [
      "error",
      {
        "allow": [
          "err"
        ]
      }
    ],
    "max-classes-per-file": "off"
  }
}